/*
|==============================================================================
| General sizes
|==============================================================================
| 'columns' is a master class that allows to use its child class 'column'.
| Columns contains modifiers for setting up positons of its columns
| or column's gaps and their direction. For responsive behavior
| there is a modifier called 'on-mobile-[size]'.
|------------------------------------------------------------------------------
*/
$base-width = (100 / 12)
$gap-small = 0.2rem
$gap-medium = 0.6rem
$gap-large = 1rem










/*
|==============================================================================
| Screen sizes
|==============================================================================
| 'columns' is a master class that allows to use its child class 'column'.
| Columns contains modifiers for setting up positons of its columns
| or column's gaps and their direction. For responsive behavior
| there is a modifier called 'on-mobile-[size]'.
|------------------------------------------------------------------------------
*/
$screens = ($screen-1 $screen-2 $screen-3)
$screen-1 = {screen: 320px, name: 'on-mobile--small'}
$screen-2 = {screen: 480px, name: 'on-mobile--medium'}
$screen-3 = {screen: 768px, name: 'on-mobile--large'}