// ================================
//              COLORS
// ================================



// ================================
//              SIZES
// ================================
$sizes = ($size-1 $size-2 $size-3 $size-4 $size-5 $size-6)

$size-1 = 3rem
$size-2 = 2.6rem
$size-3 = 2rem
$size-4 = 1.6rem
$size-5 = 1.2rem
$size-6 = 1rem


// ================================
//              FONTS
// ================================
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,400,400i,500,600,700")

$font-primary = 'Fira Sans', sans-serif