/*
|==============================================================================
| Columns
|==============================================================================
| 'columns' is a master class that allows to use its child class 'column'.
| Columns contains modifiers for setting up positons of its columns
| or column's gaps and their direction. For responsive behavior
| there is a modifier called 'on-mobile-[size]'.
|------------------------------------------------------------------------------
*/
.columns
    display: flex !important
    flex-wrap: wrap
    margin: 0
    padding: 0
    width: 100%










    /*
    |--------------------------------------------------------------------------
    | Positioning
    |--------------------------------------------------------------------------
    | Columns can be positioned horizontaly as a row,
    | verticaly as a column or horizontaly centered.
    |--------------------------------------------------------------------------
    */
    &.are-centered
        justify-content: center
    
    &.are-vertical
        flex-direction: column
    
    &.are-horizontal
        flex-direction: row










    /*
    |--------------------------------------------------------------------------
    | Gaps
    |--------------------------------------------------------------------------
    | Columns can contain gaps that are defined on the 'columns' class.
    | Gaps can go horizontaly, verticaly or to every direction.
    | There are three size options for every gap unit.
    |--------------------------------------------------------------------------
    */
    &.with-gaps--small
        & > .column
            padding: $gap-small
    &.with-gaps--medium
        & > .column
            padding: $gap-medium
    &.with-gaps--large
        & > .column
            padding: $gap-large

    &.with-x-gaps--small,
    &.with-x-gaps--medium,
    &.with-x-gaps--large
        & > .column
            &:first-of-type
                padding-left: 0 !important
            &:last-of-type
                padding-right: 0 !important

    &.with-x-gaps--small
        & > .column
            padding: 0 $gap-small

    &.with-x-gaps--medium
        & > .column
            padding: 0 $gap-medium
        
    &.with-x-gaps--large
        & > .column
            padding: 0 $gap-large
        
    &.with-y-gaps--small,
    &.with-y-gaps--medium,
    &.with-y-gaps--large
        & > .column
            &:first-of-type
                padding-top: 0 !important
            &:last-of-type
                padding-bottom: 0 !important
    
    &.with-y-gaps--small
        & > .column
            padding: $gap-small 0

    &.with-y-gaps--medium
        & > .column
            padding: $gap-medium 0   

    &.with-y-gaps--large
        & > .column
            padding: $gap-large 0










    /*
    |==========================================================================
    | Column
    |==========================================================================
    | Each column has options for defining its width via
    | modifiers. Column also can become a container
    | of columns by adding the .columns class.
    |--------------------------------------------------------------------------
    */
    .column
        display: block
        flex-grow: 1
        flex-shrink: 1
        flex-basis: 0
        margin: 0
        box-sizing: border-box

        &[class*="is-"]
            flex: none !important










        /*
        |----------------------------------------------------------------------
        | Column sizes
        |----------------------------------------------------------------------
        | Sizes are a modifiers of Column class. Without defining size
        | columns are going to have a flexible with that spreads
        | automaticaly. If width is defined using modifier
        | grid will collapse when border is reached.
        |----------------------------------------------------------------------
        */
        &.is-one-sixth
            width: 16.6666%

        &.is-one-third
            width: 33.3333%

        &.is-one-quarter
            width: 25%

        &.is-half
            width: 50%

        &.is-two-thirds
            width: 66.6666%

        &.is-full
            width: 100%