$base-width = (100 / 12)
$gap-small = 0.2rem
$gap-medium = 0.6rem
$gap-large = 1rem

.columns
    margin: 0
    padding: 0
    display: flex
    flex-wrap: wrap
    width: 100%
    
    &.are-centered
        justify-content: center
    
    &.are-vertical
        flex-direction: column
    
    &.are-horizontal
        flex-direction: row

    &.with-small-gaps
        & > .column
            padding: $gap-small !important
    &.with-medium-gaps
        & > .column
            padding: $gap-medium !important
    &.with-large-gaps
        & > .column
            padding: $gap-large !important

    &.with-horizontal-medium-gaps
        & > .column
            padding: 0 10px
            &:first-of-type
                padding-left: 0 !important
            &:last-of-type
                padding-right: 0 !important
    
    &.with-vertical-small-gaps
        & > .column
            padding: $gap-small 0
            &:first-of-type
                padding-top: 0 !important
            &:last-of-type
                padding-bottom: 0 !important

    &.with-vertical-medium-gaps
        & > .column
            padding: $gap-medium 0
            &:first-of-type
                padding-top: 0 !important
            &:last-of-type
                padding-bottom: 0 !important
    
    &.with-vertical-large-gaps
        & > .column
            padding: 20px 0
            &:first-of-type
                padding-top: 0 !important
                padding-top: 20px !important
            &:last-of-type
                padding-bottom: 0 !important
                padding-top: 20px !important

    .column
        display: block
        flex-grow: 1
        flex-shrink: 1
        flex-basis: 0
        margin: 0 !important
        box-sizing: border-box !important

        // SIZES
        &.is-one-sixth
            flex: none !important
            width: 16.6666%
        &.is-one-third
            flex: none !important
            width: 33.3333%
        &.is-quarter
            flex: none !important
            width: 25%
        &.is-half
            flex: none !important
            width: 50%
        &.is-two-thirds
            flex: none !important
            width: 66.6666%
        &.is-full
            flex: none !important
            width: 100%

        // SPECIAL SIZES
        &.is-sidebar
            flex: none !important
            width: 33.3333%
            max-width: 20rem
            min-width 20rem